{
  "openapi": "3.0.3",
  "info": {
    "title": "UAFilms API",
    "description": "API для агрегації українського контенту. Розділяє метадані (/details) та пошук джерел (/get).",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://bfilms.aartzz.pp.ua",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/api/home": {
      "get": {
        "summary": "Головна сторінка",
        "description": "Повертає всі категорії контенту: тренди, рекомендації, українське, мультфільми, аніме.",
        "operationId": "getHome",
        "responses": {
          "200": {
            "description": "Успішна відповідь",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HomeResponse" }
              }
            }
          }
        }
      }
    },
    "/api/details": {
      "get": {
        "summary": "Метадані (Details)",
        "description": "Отримує статичну інформацію про фільм/серіал (опис, рейтинги, жанри).",
        "operationId": "getDetails",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "type", "in": "query", "required": true, "schema": { "type": "string", "enum": ["movie", "tv"] } }
        ],
        "responses": {
          "200": {
            "description": "Метадані контенту",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MovieDetails" }
              }
            }
          }
        }
      }
    },
    "/api/get": {
      "get": {
        "summary": "Джерела (Streams SSE)",
        "description": "Повертає доступні джерела відео. Може працювати як SSE потік або звичайний запит.",
        "operationId": "getStreams",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "type", "in": "query", "required": true, "schema": { "type": "string", "enum": ["movie", "tv"] } },
          { "name": "token", "in": "query", "required": false, "schema": { "type": "string" }, "description": "API Key" }
        ],
        "responses": {
          "200": {
            "description": "Потік подій з джерелами",
            "content": {
              "text/event-stream": {
                "schema": { "$ref": "#/components/schemas/StreamEvent" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StreamEvent" }
              }
            }
          }
        }
      }
    },
    "/api/search": {
      "get": {
        "summary": "Пошук",
        "operationId": "search",
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } }
        ],
        "responses": {
          "200": {
            "description": "Результати пошуку",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SearchResponse" }
              }
            }
          }
        }
      }
    },
    "/api/comments": {
      "get": {
        "summary": "Коментарі",
        "operationId": "getComments",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Список коментарів",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Comment" }
                }
              }
            }
          }
        }
      }
    },
    "/api/torrents": {
      "get": {
        "summary": "Торренти",
        "operationId": "getTorrents",
        "parameters": [
          { "name": "query", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "token", "in": "query", "required": false, "schema": { "type": "string" }, "description": "API Key" }
        ],
        "responses": {
          "200": {
            "description": "Список торентів",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Torrent" }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MovieShort": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "poster_path": { "type": "string" },
          "vote_average": { "type": "number" },
          "release_date": { "type": "string" }
        }
      },
      "MovieDetails": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "imdb_id": { "type": "string" },
          "title": { "type": "string" },
          "overview": { "type": "string" },
          "genres": { 
            "type": "array", 
            "items": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" } } } 
          },
          "poster_path": { "type": "string" },
          "backdrop_path": { "type": "string" },
          "imdb_rating": { "type": "number" }
        }
      },
      "StreamEvent": {
        "type": "object",
        "properties": {
          "sources": { 
            "type": "array", 
            "items": { 
              "type": "object",
              "properties": {
                "provider": { "type": "string" },
                "quality": { "type": "string" },
                "link": { "type": "string" },
                "audio": { "type": "string" }
              }
            } 
          }
        }
      },
      "HomeResponse": {
        "type": "object",
        "properties": {
          "trending": { "type": "array", "items": { "$ref": "#/components/schemas/MovieShort" } },
          "recommended": { "type": "array", "items": { "$ref": "#/components/schemas/MovieShort" } },
          "ukrainian": { "type": "array", "items": { "$ref": "#/components/schemas/MovieShort" } },
          "cartoons": { "type": "array", "items": { "$ref": "#/components/schemas/MovieShort" } },
          "anime": { "type": "array", "items": { "$ref": "#/components/schemas/MovieShort" } }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "page": { "type": "integer" },
          "results": { "type": "array", "items": { "$ref": "#/components/schemas/MovieShort" } },
          "total_pages": { "type": "integer" },
          "total_results": { "type": "integer" }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "author": { "type": "object", "properties": { "name": { "type": "string" }, "avatar": { "type": "string" } } },
          "text": { "type": "string" },
          "rating": { "type": "integer" },
          "replies": { "type": "array", "items": { "$ref": "#/components/schemas/Comment" } }
        }
      },
      "Torrent": {
        "type": "object",
        "properties": {
          "Tracker": { "type": "string" },
          "Title": { "type": "string" },
          "Size": { "type": "number" },
          "Seeders": { "type": "integer" },
          "MagnetUri": { "type": "string" }
        }
      }
    }
  }
}